* {
    font-family: 'Outfit', sans-serif;
    transition: all 0.3s !important;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(92, 91, 91);
    border-radius: 20px;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0) !important;
}

p {
    margin: 0px !important;
    color: #0F2540;
}

.darkMode p {
    color: #f1f1ee;
}

.lineThrough {
    text-decoration: line-through;
}

/* ------------------------------------------------------------- */
/* Top Bar styles */
/* ------------------------------------------------------------- */
.topBar {
    padding: 0px 10px;
    background-color: #FFFFFB;
}

.darkMode .topBar {
    background-color: #0B1013;
}

.menuBtn {
    background-color: #FFFFFB !important;
    border-color: #FFFFFB !important;
    /* transition: 1s !important; */
}

.darkMode .menuBtn {
    background-color: #0B1013 !important;
    border-color: #0B1013 !important;
}

.darkMode .menuImg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.darkMode .settingImg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.menuLinkText {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(65, 103, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.offcanvas {
    background-color: #f1f1ee !important;
}

.offcanvas .darkMode {
    background-color: #0B1013 !important;
}

.offcanvas-start {
    width: 250px !important;
}

.navbar-nav {
    margin-left: auto;
}

.topBarDateTime{
    display: flex;
    align-items: center;
    color: #0B1013;
}

.darkMode .topBarDateTime{
    color: #f1f1ee;
    transition: 0s !important;
}

.topBarDateTime span {
    margin: 0px 8px;
}

.darkModeBtn {
    align-self: center;
}

.logoutBtn {
    cursor: pointer;
    align-self: center;
}

.darkMode .logoutBtn {
    filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(230deg) brightness(88%) contrast(88%);
}

/* ------------------------------------------------------------- */
/* Welcome Login page styles */
/* ------------------------------------------------------------- */
.welcomePage {
    background: url("./background/welcomepage_BGwhite16-9.png");
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

.darkMode .welcomePage {
    background-image: url("./background/welcomepage_BGdark16-9.png");
    background-position-x: right;
    background-position-y: top;
}

.welcomeForm {
    background-color:rgba(216, 216, 216, 0.6);
    font-size: calc(10px + 2vmin);
    padding: 12vh 0 16vh 0;
    border-radius: 20px;
    margin: auto
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.welcomeInput {
    display: block;
    margin: auto !important;
}

.welcomeBtn button{
    margin-top: 20px;
    display: block;
    width: 100%;
}

/* ------------------------------------------------------------- */
/* Homepage styles */
/* ------------------------------------------------------------- */
.homepage {
    background-image: url("./background/images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.darkMode .homepage {
    background-image: url("");
    background-color: #12102E;
}

.taskListOutter {
    padding-top: 100px;
    margin-left: 300px;
    /* padding-top: 10vh; */
    /* margin-left: 30vh; */
}

.taskList {
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 85%;
    padding-top: 15px;
}

.eachTask {
    padding: 20px;
}

.taskListAddTaskBtn {
    cursor: pointer;
    opacity: 0.5;
}

.taskListAddTaskBtn:hover {
    opacity: 1;
}

.card {
    height: 250px;
    background-color: rgba(255, 253, 247, 0.5) !important;
    border-radius: 10px !important;
}

.card .plusImg {
    padding: 30px;
    width: 100%;
    height: 100%;
    filter: invert(61%) sepia(24%) saturate(1408%) hue-rotate(156deg) brightness(92%) contrast(90%);
}

.card:hover {
    background-color: rgba(255, 253, 247, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.card:hover .plusImg {
    transform: rotate(-90deg);
}

.darkMode .card {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.darkMode .card:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.15);
}

.isDoneStyle {
    opacity: 0.5;
}

.doneCheckbox{
    cursor: pointer;
    width: 24px;
    height: 24px;
    filter: invert(58%) sepia(38%) saturate(945%) hue-rotate(156deg) brightness(94%) contrast(86%);
}

.cardTitle {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.cardTitle h5 {
    margin: 0 0 0 8px;
    color: #0F2540;
    z-index: 0;
}

.darkMode .cardTitle h5 {
    color: #f1f1ee;
}

.cardButton {
    margin-left: auto;
    display: flex;
}

.cardButton .cardEdit {
    margin-left: 8px;
    border: 0px !important;
    border-radius: 100% !important;
}

.cardButton .cardDelete {
    margin-left: 8px;
    background-color: rgb(255, 77, 77) !important;
    border: 0px !important;
    border-radius: 100% !important;
}

.card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px !important;
    white-space: pre-line;
}

.card-body p {
    padding: 0px 16px !important;
    color: #0F2540;;
}

.darkMode .card-body p {
    color: #f1f1ee;
}

.dueDateText {
    padding-left: 16px;
    padding-bottom: 4px;
}

.text-muted {
    color: #f1f1ee !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer small {
    align-self: center;
}

.badge {
    margin: 3px 0;
}

.doneBtn {
    margin-right: 6px;
}

.addTaskbtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    border: 0px !important;
    background-color: rgba(54, 90, 252, 0.8) !important;
    z-index: 9999;
}

.ArrowUpBtn {
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: 0px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* ------------------------------------------------------------- */
/* filter styles */
/* ------------------------------------------------------------- */
.filter {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.25);
}

.darkMode .filter {
    background-color: rgba(0, 0, 0, 0.20);
}

.filterForm {
    padding: 100px 30px 0px 30px;
}

.filterTitle {
    margin: 10px;
}

.filterTaskName {
    margin: 15px 0px 0px 10px;
}

.filterDueDate {
    margin: 15px 10px;
    margin-right: 0px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.darkMode .filterDueDate {
    border-color: #f1f1ee;
}

.filterStartDate {
    margin: 15px 10px;
    margin-right: 0px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.darkMode .filterStartDate {
    border-color: #f1f1ee;
}

.filterInputBox {
    width: 90% !important;
    margin: 0 10px;
}

.react-datepicker__input-container input {
    width: 100%;
}

.react-datepicker__close-icon {
    padding-right: 10% !important;
}

.filterTaskType {
    margin: 15px 0px 10px 10px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.darkMode .filterTaskType {
    border-color: #f1f1ee;
}

.darkMode .form-check-label {
    color: #f1f1ee;
}

.filterCheckBox {
    margin-left: 10px;
}

/* ------------------------------------------------------------- */
/* Calendar page styles */
/* ------------------------------------------------------------- */
.calendarDiv {
    margin: 100px auto;
    height: 70vh;
    width: 80vw;
}

.calendarDiv .card {
    border-radius: 50% !important;
    position: fixed;
    right: 12vw;
    top: 80px;
    opacity: 1;
    z-index: 9999;
}

.calendarDiv .plusImg {
    padding: 0px;
}

.calendarDiv .taskListAddTaskBtn {
    height: 80px;
    width: 80px;
}

/* ------------------------------------------------------------- */
/* Responsive styles */
/* ------------------------------------------------------------- */
@media screen and (max-width: 767px) {

    .calendarDiv .addTaskbtn,
    .mobileHide {
        display: none;
    }

    .calendarDiv .mobileHide {
        display: unset;
    }
    
    .calendarDiv .card {
        top: 88px;
        right: 52px;
        height: 60px;
        width: 60px;
    }
    
    .filter {
        margin-top: -505px;
        width: 100%;
        height: 602px;
        z-index: 1;
    }
    
    .filterActive {
        margin-top: 0px;
        position: unset;
    }

    .filterForm {
        padding: 68px 30px 0px 30px;
    }

    .filterInputBox {
        width: 95% !important;
    }

    .react-datepicker__close-icon {
        padding-right: 5% !important;
    }

    .filterToggle {
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        color: #0F2540;
    }

    .darkMode .filterToggle {
        color: #f1f1ee;
    }

    .filterToggleArrow {
        align-self: center;
        margin-left: 4px;
        color: #0F2540;
        transition: 0ms !important;
    }

    .darkMode .filterToggleArrow {
        color: #f1f1ee;
    }

    .filterToggleArrowActive {
        transform: rotate(180deg);
    }

    .eachTask {
        padding: 10px 0;
    }

    .taskListOutter {
        padding-top: 90px;
        margin-left: 0px;
        min-height: 100vh;
    }
    
    .taskListOutterActive {
        padding-top: 0px;
    }
}

@media screen and (max-width: 575px) {
    
    .topBarDateTime {
        display: none;
    }

    .card-footer small {
        font-size: 10px;
    }

}

@media screen and (min-width: 767px) {

    .filterToggle,
    .addTaskbtn {
        display: none !important;
    }
}