* {
    font-family: 'Outfit', sans-serif;
    transition: all 0.25s;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(92, 91, 91);
    border-radius: 20px;
}

p {
    margin: 0px !important;
    color: #0F2540;
}

.darkMode p {
    margin: 0px !important;
    color: #dfdfdf;
}

/* ------------------------------------------------------------- */
/* Top Bar styles */
/* ------------------------------------------------------------- */
.topBar {
    padding: 0px 10px;
    background-color: #FFFFFB;
}

.darkMode .topBar {
    background-color: #0B1013;
}

.menuBtn {
    background-color: #FFFFFB !important;
    border-color: #FFFFFB !important;
}

.darkMode .menuBtn {
    background-color: #0B1013 !important;
    border-color: #0B1013 !important;
}

.darkMode .menuImg {
    filter: invert(94%) sepia(5%) saturate(1409%) hue-rotate(282deg) brightness(109%) contrast(104%);
}

.menuLinkText {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(65, 103, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.offcanvas {
    background-color: rgb(255, 255, 255) !important;
}

.offcanvas-start {
    width: 250px !important;
}

.navbar-nav {
    margin-left: auto;
}

.topBarDateTime{
    display: flex;
    align-items: center;
}

.topBarDateTime span {
    margin: 0px 8px;
}

.darkModeBtn {
    align-self: center;
}

.logoutBtn {
    cursor: pointer;
    align-self: center;
}

/* ------------------------------------------------------------- */
/* Welcome Login page styles */
/* ------------------------------------------------------------- */
.welcomePage {
    background-image: url("./background/1.jpg");
    background-size: cover;
    height: 100vh;
}

.welcomeForm {
    background-color:rgba(231, 231, 231, 0.385);
    font-size: calc(10px + 2vmin);
    padding: 12vh 0 16vh 0;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeInput {
    display: block;
    margin: auto !important;
}

.welcomeBtn button{
    margin-top: 20px;
    display: block;
    width: 100%;
}

/* ------------------------------------------------------------- */
/* Homepage styles */
/* ------------------------------------------------------------- */
.homepage {
    background-image: url("./background/images.jpg");
    background-position: center;
    background-size: cover;
}

.darkMode .homepage {
    background-image: url("");
    background-color: #12102E;
    color: white;
}

.taskListOutter {
    display: flex;
    margin-top: 58.31px;
    margin-left: 250px;
    justify-content: center;
}

.taskList {
    flex-wrap: wrap;
    max-width: 85%;
    padding-top: 15px;
}

.eachTask {
    padding: 20px;
}

.card {
    height: 250px;
    background-color: rgb(255 253 247 / 36%) !important;
    border-radius: 10px !important;
}

.cardTitle {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

.cardTitle h5 {
    margin: auto 10px;
}

.cardButton {
    margin-left: auto;
    display: flex;
}

.cardButton .cardEdit {
    border: 0px !important;
    border-radius: 50% !important;
}

.cardButton .cardDelete {
    margin-left: 10px;
    background-color: rgb(255, 77, 77) !important;
    border: 0px !important;
    border-radius: 50% !important;
}

.card-body {
    overflow: auto;
    padding: 0px !important;
    white-space: pre-line;
}

.card-body p {
    padding: 0px 20px !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer small {
    align-self: center;
}

.doneBtn {
    cursor: pointer;
}

.addTaskbtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    background-color: rgba(54, 90, 252, 0.6) !important;
}

.ArrowUpBtn {
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* ------------------------------------------------------------- */
/* filter styles */
/* ------------------------------------------------------------- */
.filter {
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #0F2540;
    padding-top: 42px;
    padding-left: 30px;
    position: fixed;
}

.filterTitle {
    margin: 10px;
}

.filterTaskName {
    margin: 15px 0px 0px 10px;
}

.filterDueDate {
    margin: 15px 10px;
    margin-right: 0px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.filterInputBox {
    width: 80% !important;
    margin-left: 10px;
}

.filterTaskType {
    margin: 15px 0px 10px 10px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.filterCheckBox {
    margin-left: 10px;
}

/* ------------------------------------------------------------- */
/* Calendar page styles */
/* ------------------------------------------------------------- */
.react-calendar {
    width: 70vw !important;
    padding: 32px 16px !important;
    margin: 64px auto 0px;
}

/* ------------------------------------------------------------- */
/* Responsive styles */
/* ------------------------------------------------------------- */
@media screen and (max-width: 767px) {

    .topBarDateTime,
    .filter {
        display: none;
    }

    .taskList {
        margin-left: 0px; 
    }

    .taskListOutter {
        margin-left: 0px;
    }
}
