* {
    font-family: 'Outfit', sans-serif;
    transition: all 0.3s !important;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(92, 91, 91);
    border-radius: 20px;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0) !important;
}

p {
    margin: 0px !important;
    color: #0F2540;
}

.darkMode p {
    color: #f1f1ee;
}

/* ------------------------------------------------------------- */
/* Top Bar styles */
/* ------------------------------------------------------------- */
.topBar {
    padding: 0px 10px;
    background-color: #FFFFFB;
}

.darkMode .topBar {
    background-color: #0B1013;
}

.menuBtn {
    background-color: #FFFFFB !important;
    border-color: #FFFFFB !important;
    /* transition: 1s !important; */
}

.darkMode .menuBtn {
    background-color: #0B1013 !important;
    border-color: #0B1013 !important;
}

.darkMode .menuImg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.darkMode .settingImg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.menuLinkText {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(65, 103, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.offcanvas {
    background-color: #f1f1ee !important;
}

.darkMode .offcanvas {
    background-color: #0B1013 !important;
}

.offcanvas-start {
    width: 250px !important;
}

.navbar-nav {
    margin-left: auto;
}

.topBarDateTime{
    display: flex;
    align-items: center;
    color: #0B1013;
}

.darkMode .topBarDateTime{
    color: #f1f1ee;
    transition: 0s !important;
}

.topBarDateTime span {
    margin: 0px 8px;
}

.darkModeBtn {
    align-self: center;
}

.logoutBtn {
    cursor: pointer;
    align-self: center;
}

.darkMode .logoutBtn {
    filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(230deg) brightness(88%) contrast(88%);
}

/* ------------------------------------------------------------- */
/* Welcome Login page styles */
/* ------------------------------------------------------------- */
.welcomePage {
    background: url("./background/welcomepage_BGwhite16-9.png");
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

.darkMode .welcomePage {
    background-image: url("./background/welcomepage_BGdark16-9.png");
    background-position-x: right;
    background-position-y: top;
}

.welcomeForm {
    background-color:rgba(216, 216, 216, 0.6);
    font-size: calc(10px + 2vmin);
    padding: 12vh 0 16vh 0;
    border-radius: 20px;
    margin: auto
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.welcomeInput {
    display: block;
    margin: auto !important;
}

.welcomeBtn button{
    margin-top: 20px;
    display: block;
    width: 100%;
}

/* ------------------------------------------------------------- */
/* Homepage styles */
/* ------------------------------------------------------------- */
.homepage {
    background-image: url("./background/images.jpg"); 
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.darkMode .homepage {
    background-image: url("");
    background-color: #12102E;
}

.taskListOutter {
    padding-top: 58.31px;
    margin-left: 300px;
}

.taskList {
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 85%;
    padding-top: 15px;
}

.eachTask {
    padding: 20px;
}

.card {
    height: 250px;
    background-color: rgba(255, 253, 247, 0.35) !important;
    border-radius: 10px !important;
}

.darkMode .card {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.cardTitle {
    /* background-color: rgba(255, 253, 247, 0.35) !important; */
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.cardTitle h5 {
    margin: auto 0;
    color: #0F2540;
}

.dueDateText {
    padding-left: 16px;
    padding-bottom: 4px;
}

.darkMode .cardTitle h5 {
    color: #f1f1ee;
}

.cardButton {
    margin-left: auto;
    display: flex;
}

.cardButton .cardEdit {
    margin-left: 8px;
    border: 0px !important;
    border-radius: 100% !important;
}

.cardButton .cardDelete {
    margin-left: 8px;
    background-color: rgb(255, 77, 77) !important;
    border: 0px !important;
    border-radius: 100% !important;
}

.card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px !important;
    white-space: pre-line;
}

.card-body p {
    padding: 0px 16px !important;
    color: #0F2540;;
}

.darkMode .card-body p {
    color: #f1f1ee;
}

.text-muted {
    color: #f1f1ee !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer small {
    align-self: center;
}

.badge {
    margin: 3px 0;
}

.doneBtn {
    margin-right: 6px;
    cursor: pointer;
}

.addTaskbtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    border: 0px !important;
    background-color: rgba(54, 90, 252, 0.6) !important;
}

.ArrowUpBtn {
    position: fixed;
    right: 5px;
    bottom: 5px;
    border: 0px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* ------------------------------------------------------------- */
/* filter styles */
/* ------------------------------------------------------------- */

.filter {
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 100px;
    padding-left: 30px;
    position: fixed;
}

.darkMode .filter {
    background-color: rgba(0, 0, 0, 0.20);
}

.filterTitle {
    margin: 10px;
}

.filterTaskName {
    margin: 15px 0px 0px 10px;
}

.filterDueDate {
    margin: 15px 10px;
    margin-right: 0px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.darkMode .filterDueDate {
    border-color: #f1f1ee;
}

.filterInputBox {
    width: 80% !important;
    margin-left: 10px;
}

.filterTaskType {
    margin: 15px 0px 10px 10px;
    padding-right: 84px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0F2540;
}

.darkMode .filterTaskType {
    border-color: #f1f1ee;
}

.darkMode .form-check-label {
    color: #f1f1ee;
}

.filterCheckBox {
    margin-left: 10px;
}

/* ------------------------------------------------------------- */
/* Calendar page styles */
/* ------------------------------------------------------------- */
.react-calendar {
    width: 70vw !important;
    padding: 32px 16px !important;
    margin: 64px auto 0px;
}

/* ------------------------------------------------------------- */
/* Responsive styles */
/* ------------------------------------------------------------- */
@media screen and (max-width: 767px) {

    .filter {
        display: none;
    }

    .eachTask {
        padding: 10px 0;
    }
    
    /* .filterOutter {
        height: 5%;
    }

    .filter {
        display: flex;
        height: 20%;
        width: 100%;
        background-color: rgba(255, 125, 125, 0.884);
        padding: 0px;
        position: fixed;
    }  */

    .taskListOutter {
        margin-left: 0px;
        /* padding-top: 350px; */
    }
}

@media screen and (max-width: 575px) {

    .topBarDateTime {
        display: none;
    }

    .card-footer small {
        font-size: 10px;
    }
}