label {
    margin-top: 10px;
}

form input,
form textarea,
form select {
    display: block;
    width: 100%;
}

/* .info {
} */

.appBorder,
.showTask {
    border: solid red;
    padding: 32px;
}

.topbar {
    width: 100%;
}

.navbar-nav {
    margin-left: auto;
}

.newTaskInfo {
    text-align: center;
}

.submitButton {
    align-items: center;
}

button {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: bold;
}

.hide {
    display: none;
}

@media screen and (max-width: 600px) {
    .appBorder {
        background-color: lightgrey;
    }
}
