* {
    z-index: 1;
}

p {
    font-family: 'Outfit', sans-serif;
    margin: 0px !important;
    color: rgb(70, 70, 70);
}

.topBar {
    padding: 0px 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
  }

.taskList {
    flex-wrap: wrap;
}

.eachTask {
    padding: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.topBarDateTime{
    display: flex;
    align-items: center;
}

.topBarDateTime span {
    margin: 0px 8px;
}

.offcanvas {
    background-color: rgb(255, 255, 255) !important;
}

.offcanvas-start {
    width: 250px !important;
}

.cardTitle {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: white;
}

.cardTitle h5 {
    margin: auto 10px;
}

.card {
    height: 250px;
}

.card-body {
    overflow: auto;
    padding: 0px !important;
}

.card-body p {
    padding: 0px 20px !important;
}

.linkText {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(65, 103, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.listRow {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: lightgrey;
}

.listButton {
    margin-left: auto;
    display: flex;
}

.btn-sm {
    margin-left: 10px;
}

.listEdit {
    border: 0px !important;
    border-radius: 50% !important;
}

.listDelete {
    background-color: rgb(255, 77, 77) !important;
    border: 0px !important;
    border-radius: 50% !important;
}

.newTask {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    opacity: 65%;
    z-index: 9999;
}

.ArrowUp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3px 3px;
    opacity: 65%;
    z-index: 9999;
}

.hide {
    display: none;
}

.react-calendar {
    width: 70vw !important;
    padding: 32px 16px !important;
    margin: 64px auto 0px;
}

@media screen and (max-width: 500px) {
    /* .appBorder {
        background-color: lightgrey;
    } */

    .topBarDateTime {
        display: none;
    }
}
