/* .appBorder {
    border: solid red;
    padding: 32px;
} */

.topBar {
    padding: 0px 10px;
    border-radius: 10px;
}

.navbar-brand {
    width: 100%;
    text-align: center;
}

/* .topBarTitle {
    display: block;
    float: left;
    align-items: center;
    width: 100%;
} */

.taskList {
    flex-wrap: wrap;
}

.eachTask {
    padding: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.topBarDateTime{
    display: flex;
    align-items: center;
}

.topBarDateTime span {
    margin: 0px 8px;
}

.offcanvas {
    background-color: rgb(255, 255, 255) !important;
}

.offcanvas-start {
    width: 250px !important;
}

.cardTitle {
    display: flex;
    align-items: center;
}

.cardTitle h5 {
    margin: auto 10px;
}

.linkText {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(65, 103, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.listRow {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: lightgrey;
}

.listButton {
    margin-left: auto;
    border-radius: 10px;
}

.btn-sm {
    margin-left: 10px;
}

.listEdit {
    border: 0px !important;
    border-radius: 50% !important;
}

.listDelete {
    background-color: rgb(255, 77, 77) !important;
    border: 0px !important;
    border-radius: 50% !important;
}

.newTask {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    opacity: 80%;
}

.hide {
    display: none;
}

@media screen and (max-width: 500px) {
    /* .appBorder {
        background-color: lightgrey;
    } */

    .topBarDateTime {
        display: none;
    }
}
